<section class='student-summary'>
  <h2><%= student.first_name %> <%= student.last_name %></h2>
  <p>
    <span>Team <%=student.team %></span>
    <span><%=student.gpa %>/4.0</span>
    <span><%=student.grade %></span>
    <span><%=student.gender %></span>
    <span><%=student.number_of_detentions %></span>
  </p>
</section>
