<div id='teacher-show-page'>

  <% if current_user.id == @user.id && !current_user.is_admin? %>
    <p><%= link_to "Edit Profile", edit_user_path, class: 'edit-teacher-profile btn btn-success' %></p>
  <%end%>

  <h1><%= @user.first_name %> <%= @user.last_name %></h1>


  <% if @user.is_admin? %>
  <% puts "I do this" %>
  <%= render partial: '/users/admin', locals: {user: @user} %>
  <% else %>
  <% puts "I also do this!" %>
    <img src="<%= @user.image_path %>" alt="Profile Pic" />
    <%= render partial: '/users/stats', locals: {user: @user} %>
  <% end %>

</div>
