<h1><%= @user.first_name %> <%= @user.last_name %></h1>

 <img src="<%= @user.image_path %>" alt="rss feed" />

<p>
  <span>Email: <%= @user.email %></span>
</p>

<h1>Students</h1>

<section class='student-list'>
<% @students.each do |student| %>
  <%= render partial: '/students/summary', locals: {student: student} %>
<% end %>
</section>
