<!DOCTYPE html>
<html>
<head>
  <title>WildBoarTeams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">
  <header>
    <%= image_tag "boar.png" %>
    <h1>Wild Boar High School</h1>
    <h2>Clever App Name Here</h2>
    <% if logged_in? %>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    <%end %>
  </header>
  <%= yield %>
</div>
</body>
</html>
